.boro-header{
    
    background-color: #f1ece2 ;
    padding-bottom: 20px;
}

nav{
    width: 850px;
    margin: 0 auto;
    margin-bottom: 40px;
}

.naving{
    display: flex;
    justify-content: space-between;
}

.soto-nav ul{
    list-style: none;
    display: flex;
    

}

.soto-nav ul li{
    margin-right: 30px;
}


/* banner -style */

.nav-size {
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
 } 


 
 .nav-size p{
    color: gray;
 }


 .btn{

    display: block;
    margin: auto;
    padding: 10px;
    background-color: #fa8231;
    border: none;
    border-radius: 5px;
    color: white;
    margin-bottom: 30px;

 }



.nav-size img{
    width: 100%;
}


/* main-section */

section{
    width: 850px;
    margin: 50px auto;
}

.dis{
    display: flex;
    align-items: center;
    gap: 30px;
}

.grid-layout{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 20px;
}

.grid-layout img{
    width: 100%;
}

.dix-style{
    text-align: justify;
}

.dix-style p{
    color: rgb(88, 86, 86);
}

.dix-style .btn{
    display: inline-block;
}

.lik{
    font-weight: bold;
    color: #e97120be;
}

.fii{
    color: gray;
}






/* responsive -style */

@media screen (max-width:940px) {
    nav ul{
        position:fixed;
    }
}
